
/* Product Listing Page Styles */

.noResultFoundImage {
  max-height: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.productListPageWrapper {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.productListPageWrapper > h3 {
  text-align: center;
  color: var(--titleText);
}
.productListPageWrapper > div {
  height: auto;
}
.productListPageWrapper > div > div > p {
  font-size: 0.9rem;
}
.productListPageWrapper > div > div > h1 {
  font-size: 1.5rem;
}
.productListItemsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
.productListItemsContainer > div {
  margin: 0;
}
.productListLoadingWrapper {
  height: calc(100vh - 458px)!important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Product Details Page Styles */
.productDetailsPageLoadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 358px);
  margin: 20px 0;
}
.productDetailsPage {
  background-color: white;
}
.productContainer {
  margin: 50px 0;
}
.productContainer img {
  width: 100%;
  display: block;
}
.productCardWrapper{
  max-width: 1100px;
  margin: 0 auto;
}

.imgDisplay{
  overflow: hidden;
  position: relative;
}
.imgShowcase{
  display: flex;
  width: 100%;
  justify-content: center;
  transition: all 0.5s ease;
}
.imgShowcase img{
  max-width: calc(100vw - 32px);
  height: 300px;
  width: auto;
}
.imgSelect {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  width: calc(100vw - 32px);
}
.imgItem{
  margin: 0.3rem;
  cursor: pointer;
}
.imgItem img {
  height: 100px;
  width: 100px;
}
.imgItem:nth-child(1),
.imgItem:nth-child(2),
.imgItem:nth-child(3){
  /* margin-right: 0; */
}
.imgItem:hover{
  opacity: 0.8;
}
.productContent{
  padding: 2rem 1rem;
}
.productTitle{
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: var(--titleText);
  margin: 1rem 0;
}
.productCategory {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  color: var(--paragraphText);
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.productCategory:hover{
  opacity: 0.9;
}
.productRating div{
  color: var(--paragraphText);
  font-size: 15px;
}
.productRating span{
  font-weight: 600;
  color: #ffc107;
  vertical-align: sub;
  font-size: 25px;
}
.productPrice {
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--titleText);
}
.productPrice h3 {
  display: inline-block;
}
.productPrice span.oldPrice {
  font-size: 16px;
  margin-left: 12px;
  vertical-align: text-top;
  color: var(--paragraphText);
  text-decoration: line-through;
}
.productPrice span:last-child {
  margin-left: 12px;
  font-size: 16px;
  font-weight: 500;
  color: #388e3c;
  vertical-align: text-top;
}
.productDetail p{
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
  line-height: 1.5;
}
.productDetail p:first-letter {
  text-transform: uppercase;
}
.purchaseInfo{
  margin: 1.5rem 0;
}
.purchaseInfo button {
  display: inline-block;
  transition: 0.2s;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid var(--primary);
  background-color: white;
  color: var(--primary);
  border-radius: 25px;
  padding: 15px 40px;
  margin-top: 20px;
  width: 100%;
}
.purchaseInfo button:hover {
  background-color: var(--primary);
  color: white;
}
.purchaseInfo button.primaryButton {
  margin-right: 20px;
  color: white;
  background-color: var(--primary);
}
.purchaseInfo button.primaryButton:hover {
  background-color: var(--primaryDark);
}
.purchaseInfo div {
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--primary);
  background-color: #f1f1f1;
  width: fit-content;
  border-radius: 30px;
  display: inline-block;
}
.purchaseInfo div button {
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  margin-top: 0;
  width: auto;
  background-color: transparent;
}
.purchaseInfo div button:disabled {
  color: var(--paragraphText);
  cursor: not-allowed;
}
.purchaseInfo p {
  display: inline-block;
  margin-left: 20px;
  color: var(--titleText);
  vertical-align: middle;
}
.purchaseInfo p span {
  color: var(--primary);
  font-weight: bold;
}
.purchaseInfo div button:disabled:hover {
  color: var(--paragraphText);
  background-color: transparent;
}
.purchaseInfo div button:nth-child(1) {
  margin-right: 5px;
}
.purchaseInfo div button:nth-child(3) {
  margin-left: 5px;
}
.purchaseInfo span {
  display: inline-block;
  min-width: 21px;
  text-align: center;
}
@media screen and (min-width: 992px){
  .productContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
  .productCardWrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productImages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .productContent {
    padding-top: 0;
  }
  .imgSelect {
    width: auto;
  }
  .imgShowcase img {
    width: 500px;
    height: 500px;
  }
  .purchaseInfo button {
    width: auto;
  }
}

.wishList {
  position: absolute;
  right: 0;
  top: 20px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 3px 10px;
  display: inline-block;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 25px;
  cursor: pointer;
}
.wishList.active {
  animation: like 0.5s ease-in-out 1;
  color: var(--red)
}
@keyframes like {
  0%   { transform: scale(0.8); }
  50%   { transform: scale(1.2); }
  100% { transform: scale(1); }
}
.productOffer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.productOffer h4 {
  margin: 0;
}
.productOffer p {
  margin: 0;
  margin-left: 40px;
  color: var(--paragraphText);
}
.productOffer svg {
  margin-right: 10px;
  font-size: 30px;
  color: var(--primary);
}
.productOffer div {
  display: flex;
  align-items: center;
}
.productOfferWrapper {
  margin-top: 50px;
}
.loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}